div {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #4DA167;
}

.appBody {
  display: grid;
  grid-template-rows: 50px auto;
}

.albumListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-flow: row dense;
  gap: 5px;
  width: auto;
}

.albumListItem {
  background-color: #4D5057;
  border-radius: 5px;
  padding: 5px;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto;
}

.albumListItem:hover {
  background-color: #4E6E5D;
}

.albumInfo {
  padding: 0px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.albumTitle {
  font-weight: bolder;
  font-size: 25px;
  display: block;
  color: #EFEFEF;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.artistList {
  font-weight: bold;
  font-size: 18px;
  display: block;
  color: #EFEFEF;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.albumType {
  color: #CFCFCF;
} 